# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.log
firebase-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
!.env.example

# Service Accounts & Keys
*service-account*.json
*firebase-key*.json
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
